$white: #FFFFFF
$light: #ECF2F2
$orange: #F04A21
$dark: #272624
$catalog_bg: #1E2E3E
$default-font: #F1C56E

/* ТИПОГРАФИКА */
body
  color: $dark
  font-size: 100%
  font-family: 'Comfortaa', noraml
  font-weight: 400
a
  text-decoration: none
h1,
h2,
h3
  color: $white
  font-family: 'Comfortaa', normal;
  font-weight: 700
  text-align: center

h1
  font-size: 20px
  font-size: 3.75rem

.cd-nav
  li
    a
      font-size: 1.4em

.grid li figure
  figcaption
    font-size: 1.55em
  h2
    color: $dark
    font-weight: 400
  p
    font-size: 68.5%

@media only screen and (min-width: 768px)
  header
    h1
      font-size: 40px
      font-size: 5.5rem
      font-weight: 700

@media only screen and (min-width: 1170px)
  header
    h1
      font-size: 40px
      font-size: 4.5rem
      font-weight: 700
  .cd-nav
    ul
      li
        a
          font-size: 1.85em
          font-weight: 700

/* ЦВЕТА */
body
  color: $default-font
  background-color: $catalog_bg

a
  color: #E84A64

header
  background: $white

.parallax-window
  background-attachment: local
  background-image: url("../../img/bg.jpg")
  background-size: cover
  background-position: 50% 95%

.header-title
  color: $white

.cd-nav
  ul
    background: $white

.cd-nav-trigger
  background: $white
  span
    background: $orange
  &.menu-is-open
    span
      background: rgba(232, 74, 100, 0)
      &::before, &::after
        background: $orange
.grid li figure
  figcaption
    color: $white


@media only screen and (min-width: 1170px)
  .cd-nav
    ul
      background: transparent
      li
        a
          color: $white
          &:hover
            color: $orange
    &.is-fixed ul
      background: $white
      box-shadow: 0 0 10px rgba(154, 154, 154, 0.4)
      li a
        color: $catalog_bg
        &:hover
          color: $orange
